<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">ATM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-6 col-sm-6 col-md-6">
                <h1 class="display-5 fw-semibold text-center">Transaccion finalizada</h1>
            </div>
            <div class="card">
                <div class="card-header bg-info text-light">
                    <h5 class="text-center fw-bold">Monto retirado:</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="fw-bold">Papeletas</th>
                                <th class="fw-bold">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if has100Cash}}
                                {{#each papeletas}}
                                    <tr>
                                        <td>100:</td>
                                        <td>{{papeletas["100"].value()}}</td>
                                    </tr>
                            {{/if}}
                            {{#if has200Cash}}
                                {{#each papeletas}}
                                    <tr>
                                        <td>{{papeletas["200"]}}</td>
                                        <td>{{papeletas["200"].Value()}}</td>
                                    </tr>
                            {{/if}}
                            {{#if has500Cash}}
                                {{#each papeletas}}
                                    <tr>
                                        <td>{{papeletas["500"]}}</td>
                                        <td>{{papeletas["500"].Value()}}</td>
                                    </tr>
                            {{/if}}
                            {{#if has1000Cash}}
                                {{#each papeletas}}
                                    <tr>
                                        <td>{{papeletas["1000"]}}</td>
                                        <td>{{papeletas["1000"].Value()}}</td>
                                    </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>